.o-list-card {
    width: 100%;
    background: var(--medium-dark);
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    img {
        height: 8rem;
        width: 8rem;
        object-fit: cover;
        object-position: top;
    }
    &__content {
        padding: 0.5rem;
        overflow: hidden;
        h1 {
            font-size: 1rem;
            font-weight: bold;
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .description {
            font-size: 1rem;
            font-weight: 400;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .author {
            font-size: 0.8rem;
            font-weight: 400;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}
