.upload-feeder{
    display: block;
  margin: 4px 16px 4px 34px;
  font-size: 100px;
  cursor: pointer;
  color: white;
}
.Button{
  width: 208px;
  height: 120px;
  background-color: rgb(190, 235, 198);
}

