.a-categoryButton{
    width: 8.5rem;
    height: 3rem;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0rem;
    border-radius: 0.5rem;
    border: solid 1px;
    background: var(--medium-dark);
}