@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import "./style.css";

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
.ant-btn-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  /* width:176px;
  height: 42px; */
}
/* .ant-btn-primary :hover{
    background-color: var(--secondary-color);
  } */
.ant-input-search-large .ant-input-search-button {
  height: 2.5rem;
  width: 5rem;
}
