.a-textbox{
    margin-bottom: 1rem;
    input{
        padding: 5px 10px;
        border:solid 1px #ccc;
        border-radius: 0.5rem;
        font-size: 16px;
        background-color: #fff;
    }
}