.a-card-custom{
    margin: 0.25rem;
    
        .cardInner{
            display: flex;
            flex-direction: row;
            background-color: white;
            .cardImage{
                flex: 1;
                
            }
            .cardDescription {
                flex: 1;
                padding-left: .75rem;
            }
        }
}
