.ant-btn-primary{
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  width:176px;
  height: 42px;
  }
  .ant-input-search-large .ant-input-search-button {
    height: 40px;
    width: 80px;
}
.a-buttons{
   
}

 
