.m-cart-item{
    display:flex;
    
img{
        width: 8.5rem;
        height:7rem;
        border-radius: 0.5rem 0rem 0rem 0.5rem;
        object-fit: cover;
        object-position: top;
     }
&__action{  
 display: flex;
 flex-wrap:wrap;
 width: 8rem;
 margin-left: 10rem;
}
&__title{
    width: 27rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
}

}