.m-cart-item{
&__image{
    display:flex;
}
&__saveforlater{
    padding-right: 44rem;
    padding-top: 1rem;
    flex-direction: row;
}
&__remove{
    justify-content: flex-end;
    padding-left: 20rem;
    text-align: flex-end;
    flex-direction: row;
}
}