.p-signup-page{
    padding: 1.25rem;
    border: solid 1px #ccc;
    width: 400px;
    margin: 50px auto 0 auto;
    background-color: #bfbfbf;
    .signInLabel {
        font-size: 1rem;
        color: black;
        padding: 0 0 0.5rem 0;
        text-align: center;
        border-bottom: solid 1px #aba0a0;
        margin: 0 0 1rem 0;
    }
}