.a-login-button{
    // button{
    //         padding: 5px 10px;
    //         background-color: blue;
    //         color: #fff;
    //         font-size: 16px;
    //         border: solid 1px rgb(5, 5, 158)
    //     }
    margin-bottom: 1rem;
        button{

            width: 100%;
            // padding: 7.5px 10px;
            background-color: blue;
            color: #fff;
            font-size: 16px;
            border: solid 1px rgb(5, 5, 158);
            border-radius: 0.5rem;
        }
}