.t-list {
    &__container {
        height: calc(100vh - 4rem);
        width: 100%;
    }
    &__content {
        display: grid;
        grid-template-columns: 19rem calc(100vw - 37rem) 18rem;
        aside {
            background: var(--medium-dark);
            padding: 1rem 1.5rem;
            height: 100%;
        }
        section {
            padding: 0 1.5rem;
        }
    }
}
