.a-date-picker{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-top: 5px;
  label {
    font-weight: bold;
    padding-bottom:5px;
  }
    &__dob {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 17px;
      width: 100%;
      border-radius: 0.5rem;
    }
   
}