.t-category-list{
    display:grid;
    padding: 0 1.25rem;
    &__title{
    text-align: left;
    font-size: 1.5rem;
    margin: 2.5rem 0 1rem 1rem;
    }
    &__left-arrow{
        margin-top: 3.5rem;
        size: 1rem;
    }
    &__most-trending-carousel{
        width: 75rem;
        margin-left: 1rem;
    }
    &__cardlist{
        // width: 100%;
    display: flex;
    padding: 0.5rem 0.5rem;
    }
    &__card{
        margin-right: 1rem;
        margin-left: 0.5rem;
    }
    &__suggestion-bar{
        margin-top: 1rem;
    }
}


