.a-latest-card{
    width: 14rem;
    height: 14rem;
    border-radius: 0.5rem;
    background: var(--medium-dark);
    &__image{
        height: 9rem;
        width:14rem;
        border-radius: 0.5rem 0.5rem 0 0;
    }
    &__text{
        font-size:1rem;
        margin-top: 0.5rem;
    }
}