.a-remove-icon{
    .amount{
        font-size: 1.25rem;
        font-weight: bold;
        padding-right: 2rem;
        
    }
    .delete{
        color:var(--warning);
        background-color: var(--medium);
        margin-right: -27rem;
        font-size: 1.5rem;
    }
}