.a-remove-icon{
   display:flex;
    &__amount{
        font-size: 1.25rem;
        font-weight: bold;
        padding-right: 1rem;
      //  display:flex;
        //grid-column-start: 12;
    }
    &__delete{
        color:var(--warning);
        background-color: var(--medium);
        //margin-right: -27rem;
        font-size: 1.5rem;
    }
}