.o-shopping-cart{
padding-top: 1rem;
background: var(--primary-contrast);
&__title{
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}
&__cartItems{
   // width:50rem;
    width:42rem; 
    height:7rem;
    margin: 20px;
    margin-bottom: 2rem;
    box-shadow: 1rem 1rem 1rem 1rem var(--medium-dark);
    border:1rem 1rem solid var(--primary-contrast);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
&__cartItems:hover{
    box-shadow: 2rem 2rem 2rem 2rem var(--medium-dark);
}
}