.m-checkout-box{
    width: 324px;
    height: 229px;
    border: 2px solid var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5.5rem;
    &__total{
        font-size: 2rem;
        
    }
    &__price{
        font-size: 1.5rem;
    }
    
}
