.m-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    // height: 7.5rem;
    height: 4rem; // changed due to big nav bar size
    z-index: 9;
    position: fixed;
    width: 100%;
    background: var(--primary-contrast);
    &::after {
        left: 0;
        bottom: -5px;
        background-position: left 0 top -2px;
        position: absolute;
        width: 100%;
        height: 5px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
        background-repeat: repeat-x;
        content: "";
    }
}
