input[type=text] {
  width: 200%;
    padding: 10px 30px;
    margin: 8px 0px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: darkblue;
  }
  
  
  .o-feeder{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 100px;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    width : 100%;
    background-color: rgb(218, 218, 248);
  display: flex;

  }
  

 
 