.a-post-comment {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    &__profile-icon {
        height: 3rem;
        width: 3rem;
    }
    &__btn {
        height: 3rem;
    }
    &__comment-box {
        height: 3rem;
    }
}
