.t-personal-details{
    &__bg-box {
        background-color: #F8F8F8;
        border-radius: 5px;
        margin: 2rem 4rem;
        height:calc(100vh - 8rem);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 4rem;  
        box-shadow: 2px 3px #ccc8c8;      
      }
      &__title {
          font-weight: bold;
          font-size:1rem;
          padding: 1rem 0;
      }
      &__email-dob, &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 17px;
        width: 100%;
      }
}

